<div class="foot" style="background-color: black;padding-top: 20px;">
    <h2 class="text-center" style="color:gold;padding-bottom: 30px;">I FOR EYE</h2>
    <p class="text-center" style="font-size:medium;color:white;padding-bottom:15px"> For any queries contact us @XXXXXXXXXXXX</p>
    <div class="text-center" style="padding-bottom: 50px;">
      <i class="fa fa-facebook-square" style="font-size:26px;color:rgb(75, 75, 224)"></i>
      <i class="fa fa-google-plus-official" style="font-size:26px;color:red;padding-left:8px"></i>
      <i class="fa fa-instagram" style="font-size:26px;color:rgb(214, 31, 190);padding-left:8px"></i>
      <i class="fa fa-twitter-square" style="font-size:26px;color:rgb(17, 17, 243);padding-left:8px"></i>
    </div>
    
</div>
