.book-container{
    height: 20vh;
    width: 20vh;
    border-radius: 12px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}


.image  {
    height: 20vh;
    width: 20vh;
    object-fit: cover;
    border-radius: 12px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .book-container:hover .image {
    opacity: 0.6;
  }
  
  .book-container:hover .middle {
    opacity: 1;
  }
  
  .text {

}