  <!-- Toolbar -->

  <div class="d-flex toolbar">
    <div class='' (click)="goToBrowse()" style="cursor: pointer;">
      <img
      width="50"
      alt="Angular Logo"
      src='../assets/111.jpg'
    />
    </div>
    <div class=" p-4">
      <h2 class="" (click)="goToBrowse()" style="cursor: pointer;">StryTlr</h2>
    </div>
    <div class="flex-fill">
        
    </div>

    <div *ngIf="(!loggedIn) && loaded">
      <div  class="mr-4 " [ngClass]="{'navActive':showSignin }" >
        <h5 (click)="goToSignIn()"  style="cursor: pointer;" >Singin</h5> 
      </div>
    </div>
    
    <div *ngIf="(!loggedIn) && loaded">
      <div [ngClass]="{'navActive':showSignup }" >
        <h5  (click)="goToSignup()" style="cursor: pointer;" >Singup</h5>
      </div>
    </div>


    <div *ngIf="(loggedIn) && loaded" (click)="goToAccount()">
      <img [src]="userDP" class="dp mr-2" alt="" >
    </div>

    <div *ngIf="(loggedIn) && loaded" (click)="goToAccount()">
      <h5 style="cursor: pointer;" >{{userName}}</h5>
    </div>
    
  </div>
<br>

<!-- <div class="d-flex justify-content-center" *ngIf="check()">
  <input  type="text" class="inputMain" placeholder="Search" >
</div> -->

<router-outlet  ></router-outlet>
