<div class="container">

    <div *ngIf="add_book">
        <div class="container">

            <div *ngIf="add_book">
                <div class="d-flex justify-content-center">
                    <form #logForm="ngForm">

                        <div class="form-group">
    
                            <label for="exampleInputEmail1">Book name</label>
                            <input name="mail_id" ngModel required maxlength='30' #mail="ngModel" type="text"
                                class="form-control " id="exampleInputEmail1" placeholder="Book name">
                            <div *ngIf="mail.invalid && ( mail.touched)" class="text-danger">
                                <div *ngIf="mail.errors.required">
                                    <small>*Book name is required</small>
                                </div>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label for="exampleInputPassword1">Desciption</label>
                            <textarea name="password" ngModel  #password="ngModel" 
                                class="form-control" id="exampleInputPassword1" placeholder="Describe the book" role="5"
                                cols="50">
                                  </textarea>
                        </div>
    
                        <div style="max-width: 400px;">
                            <label>Category</label><br>
                            <p *ngIf="addedCat.size==0" class="m-1 p-1">
                                No category added
                            </p>


                            <div *ngFor="let cat of addedCat" style="display: inline-block;" >
                                <div class="selectedCat p-1 m-1">
                                    {{categories[cat]}}  
                                    <span (click)="removeCat(cat)">
                                        <img src="../../assets/times.svg" alt="" height="15">
                                    </span>
                                </div>
                                
                            </div>
                            <hr style="margin: 0;padding: 0;">
                            
                            <div *ngFor="let cat of categories;let idx=index" style="display: inline-block;"> 
                                <button class="catBtn m-1 p-1 " (click)="addCat(idx)"> {{cat}} </button>
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label >Language </label>
                            <select class="m-3 p-1">
                                <option  *ngFor="let lang of languages" value="{{lang}}">{{lang}}</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="coverPhoto"> Pick cover Photo   </label>
                            <div (click)="clickDummy()" style="cursor: pointer;display: inline-block;">
                                <img class="ml-3" src="../../assets/addimg.webp" alt="" height="40" >
                            </div>
                            <br>
                            <img *ngIf="showpreview" src="{{imageToShow}}" alt="" class="preview p-1">
                            <input type="file" id=imagePicker style="display:none" accept="image/*" (change)="addImage($event)" >
                        </div>

                        <div class="form-group">
                            <label for="">Upload image book</label><br>
                            <input type="file" accept="application/pdf,application/ppt,application/pptx,application/doc,application/docx" >
                        </div>

                        <div style="text-align: center;">
                            <button type="submit" [disabled]="logForm.form.invalid" class="btn btn-primary"
                                (click)="addBook()">+ Add </button>
                        </div>
                    </form>
                </div>
                

            </div>
        </div>
    </div>
</div>