.form
{
    padding: 20px;
    background-image: linear-gradient(135deg, rgb(201, 224, 245), rgb(230, 194, 235));
    border-radius: 10px ;
}

.btn{
    border: 2px white solid;
}
.btn:focus{
    box-shadow: inset 0 -1px 0 #ddd;
}
.activeBtn{
    background-color: rgb(201, 91, 216);
    color: white;
    transition-duration: 1s;
}
.activeBtn:hover {
    box-shadow: 0px 3px 10px  rgb(212, 69, 200);
    letter-spacing: 2px;
    transition-duration: 1s;
}