<style>

    
    .search-container{
        height:550px;
        background-image: url(assets/images/pic1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bu1{
      width:550px;
      border-radius:15px;
      padding:5px;
      border-color:black;
    }

    .zoom{
          padding:20px;
          transition: transform .2s;
    }
    .zoom:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2); 
    }
    .bu2{
          padding:5px;
          margin-bottom:20px;
          border-radius: 10px;
          width:150px;
          color:black;
          border-color: black;
          background-color: white;
      }
    
    
</style>

    




<div class="search-container text-center" style="padding-top:30px">
    <form action="/action_page.php">
      <input class="bu1" type="text" placeholder="Search.." name="search" >
    </form>
    <h1 class="text-center" style="padding-top:40px;font-family:'Times New Roman', Times, serif;color:rgb(235, 187, 32)"><b>EVEN WITHOUT SIGHT<br>THERE IS STILL VISION</b></h1>
    <h2 class="text-center" style="padding-top:80px;color:rgb(199, 101, 10)"><i>Teaching is not about answering questions but about raising questions – opening doors for them in places that they could not imagine.</i></h2>
</div>
 

<div>
    <h2 class="text-center" style="padding:30px;color:rgb(231, 34, 83)">TOP 10 RECORDINGS</h2>
</div>

<div class="container">
    <div class="row" style="padding:20px"> 
      <div class="col-12 col-sm-4 col-md-4 text-center">
        <a><img src="assets/images/cover1.jpg" class="zoom"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-4 morebox text-center">
        <a><img src="assets/images/cover2.jpg" class="zoom"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-4 morebox text-center">
        <a><img src="assets/images/cover3.jpg" class="zoom"></a>
      </div>
      
    </div>
    <div class="row" style="padding:20px"> 
      <div class="col-12 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
        <a><img src="assets/images/cover4.jpg" class="zoom"></a>
      </div>
      <div class="col-6 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
        <a><img src="assets/images/cover5.jpg" class="zoom"></a>
      </div>
      <div class="col-6 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
        <a><img src="assets/images/cover6.jpg" class="zoom"></a>
      </div>
      

    </div>
    <div class="row" style="padding:20px"> 
      <div class="col-6 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
        <a><img src="assets/images/cover7.jpg" class="zoom"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
        <a><img src="assets/images/cover8.jpg" class="zoom"></a>
      </div>
      <div class="col-12 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
        <a><img src="assets/images/cover9.jpg" class="zoom"></a>
      </div>
      

    </div>
  </div>  
<div id="loadMore1" class="text-center">
    <a href="#"><button class="bu2">Load More</button></a>
</div>


<div>
  <h2 class="text-center" style="padding:30px;color:rgb(231, 34, 83)">CATEGORY 1</h2>
</div>

<div class="container">
  <div class="row" style="padding:20px"> 
    <div class="col-12 col-sm-4 col-md-4 text-center">
      <a><img src="assets/images/cover1.jpg" class="zoom"></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 morebox text-center">
      <a><img src="assets/images/cover2.jpg" class="zoom"></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 morebox text-center">
      <a><img src="assets/images/cover3.jpg" class="zoom"></a>
    </div>
    
  </div>
  <div class="row" style="padding:20px"> 
    <div class="col-12 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover4.jpg" class="zoom"></a>
    </div>
    <div class="col-6 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover5.jpg" class="zoom"></a>
    </div>
    <div class="col-6 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover6.jpg" class="zoom"></a>
    </div>
    

  </div>
  <div class="row" style="padding:20px"> 
    <div class="col-6 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover7.jpg" class="zoom"></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover8.jpg" class="zoom"></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover9.jpg" class="zoom"></a>
    </div>
    

  </div>
</div>  
<div id="loadMore2" class="text-center">
  <a href="#"><button class="bu2">Load More</button></a>
</div>

<div>
  <h2 class="text-center" style="padding:30px;color:rgb(231, 34, 83)">CATEGORY 2</h2>
</div>

<div class="container">
  <div class="row" style="padding:20px"> 
    <div class="col-12 col-sm-4 col-md-4 text-center">
      <a><img src="assets/images/cover1.jpg" class="zoom"></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 morebox text-center">
      <a><img src="assets/images/cover2.jpg" class="zoom"></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 morebox text-center">
      <a><img src="assets/images/cover3.jpg" class="zoom"></a>
    </div>
    
  </div>
  <div class="row" style="padding:20px"> 
    <div class="col-12 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover4.jpg" class="zoom"></a>
    </div>
    <div class="col-6 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover5.jpg" class="zoom"></a>
    </div>
    <div class="col-6 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover6.jpg" class="zoom"></a>
    </div>
    

  </div>
  <div class="row" style="padding:20px"> 
    <div class="col-6 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover7.jpg" class="zoom"></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover8.jpg" class="zoom"></a>
    </div>
    <div class="col-12 col-sm-4 col-md-4 moreBox text-center" style="display: none;">
      <a><img src="assets/images/cover9.jpg" class="zoom"></a>
    </div>
    

  </div>
</div>  
<div id="loadMore3" class="text-center">
  <a href="#"><button class="bu2">Load More</button></a>
</div>

<router-outlet></router-outlet>
