.dp{
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    border-radius: 50%;
    padding: 4px;
    border: 1px rgb(221, 210, 210) solid;
}
.changedp{
    height: 30px;
    padding: 2px;
    border-radius: 50%;
    border: 2px rgb(62, 123, 255) solid;
    background-color: rgb(122, 191, 231);
    cursor: pointer;
}

.updatedp{
    border: 1px rgb(107, 107, 107) solid;
    border: 4px;
}